<div id="footer">
  <div id="footer_content">
    <div class="right">
      <p class="heading">
        EURL DJ Conseil Patrimoine - Siège social
      </p>
      <p>
        15 rue de Pange 57530 Colligny<br>
        n° de gestion : 203 B 921<br>
        code APE 741G - Assurance Rcp - Garanties financières
      </p>
    </div>
    
    <div class="left">
      <p class="heading">
        Membre de l'ONIIP - Office National Indépendant de l' Immobilier et du Patrimoine
      </p>
      <p>
        Carte professionnelle : <br>
        Transactions immobilières n°774 délivrée par la préfecture de Metz <br>
        Conseil en investissements financiers agree n° E001870
      </p>
    </div>
  </div>
</div>