<div id="header">
  <a id="logo" href="/" title="Gestion de patrimoine DJ conseil.fr">DJ Conseil Patrimoine</a>

  <p id="catch">“ Des réponses personnalisées, une gestion sur mesure ”</p>
  
  <div id="contact">
    <a href="/contact" title="nous contacter"></a>
  </div>
  
  <div id="mainnav" class="navigation">
    <div class="line">&nbsp;</div>
    <%= render_menu :depth => 10 %>
  </div>

  <div id="breadcrumbs">
    <p>Vous êtes ici :</p>
    <%= render_breadcrumbs %>
  </div>
</div>